<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comfort.mapper.ComfortMessageMapper">

    <select id="getRandomMessages" resultType="com.comfort.entity.ComfortMessage">
        SELECT * FROM comfort_message ORDER BY RAND() LIMIT 10
    </select>

    <update id="incrementLikes">
        UPDATE comfort_message SET likes = likes + 1 WHERE id = #{id}
    </update>

</mapper>